<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.certidevelopment.frankenstein">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PricePoslanikaUIslamu">
        <activity android:name="com.certidevelopment.frankenstein.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.com.certidevelopment.frankenstein"
            android:value="ca-app-pub-4083455340780305~3829963365" />

        <activity
            android:name="com.certidevelopment.frankenstein.content_main"
            android:label="@string/title_activity_content_main"
            android:theme="@style/Theme.PricePoslanikaUIslamu.NoActionBar" />
        <activity
            android:name="com.certidevelopment.frankenstein.AboutUs"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.LutText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IsaText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.JahjaText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.JunusText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.EljeseText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IlijasText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.SulejmanText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.DavudText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.ZulkiflText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.MusaText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.SuajbText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.EjubText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.JusufText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IshakText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IsmailText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IbrahimText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.SalihText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.HudText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.NuhText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IdrisText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.Chapter1"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.PoglavljeONarodimaKojiSuUnisteni"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IzraelcanskiVjerovjesniciNakonMusaa"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.IzraelcanskiVjerovjesnici"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.Letter1"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.ManjePoznateRijeci"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.DanijalText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.EremijaText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.SamuelText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.HezekijelText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.HidrText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.JosuaText"
            android:parentActivityName="com.certidevelopment.frankenstein.MainActivity" />
        <activity
            android:name="com.certidevelopment.frankenstein.MainActivity"
            android:theme="@style/Theme.PricePoslanikaUIslamu.NoActionBar"></activity>
    </application>

</manifest>